
@using u21635618HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Index";
}
<head>
    @*link for fancybox*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="style.css">
</head>

<style type="text/css">
    .grid {
        display: inline-block;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .gallery {
        margin: 5px;
        border: 1px solid #ccc;
        width: 10px;
        height: 160px;
        display: inline-block;
    }

    img {
        width: 50px;
        height: 200px;
    }

    .column {
        margin: 0px;
        float: left;
        width: 25%;
        padding: 5px;
        background-color: lightcyan;
        /*border:1px solid black;*/
    }

    .row {
        background-color: lightcyan;
    }
</style>

<body>
    <h1 style="font-weight:normal">Video Files</h1>
    <h4 style="font-weight:normal"> ----------"Media/Videos/" folder </h4>
    <div class="container">
        <div class="row">

            @foreach (FileModel file in Model)
            {

                <div class="col-xs-4" style="margin-top: 20px; margin-bottom: 20px;">
                    <a data-fancybox="gallery" href="~/Media/Videos/@file.FileName"><video style="width: 18rem; height:200px" class="card-img-top"  controls><source src="~/Media/Videos/@file.FileName" type="video/mp4" /></video></a>

                    <h5> @file.FileName</h5>
                    <button class="butt" style=" background-color:green; margin-right: 20px;">
                        @Html.ActionLink("Download", "DownloadVideo",
                         new { fileName = file.FileName },
                         new { @style = "color:white;" })
                    </button>

                    <button style=" background-color:red;">
                        @Html.ActionLink("DELETE", "DeleteVideo",
                       new { fileName = file.FileName },
                       new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                    </button>

                </div>
            }


        </div>
    </div>
    @*for the fancybox*@
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>