@{
    ViewBag.Title = "About";
}


<h1 style="font-weight:normal">About</h1>
<h4 style="font-weight:normal"> Inganathi Jacobs' Biography</h4>
<div style="background-color:lightcyan;" class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 ">
            <br /><br />
            <h4 style=" margin-top: 10px;">Inganathi Jacobs</h4>
            <p>
                Inganathi Jacobs is a student that is studying towards a BSc Information Science degree at the University of Pretoria.
                She was born and bred in East London, Eastern Cape and only moved to Pretoria in 2021, to begin her University studies.With no experience in coding, in 2021 she  worked towards a BSc Information and Knowledge Systems degree.However,later that year she realised that the computer science part of that degree was not for her and she preffered the informatics side.In 2022 ,she transferred to BSc Information Science in which she has been enjoying.Inganathi enjoys finding out how system works and creating them.
            </p>
        </div>
        <div class="col-sm-12 col-lg-6 ">

            <div class="card" >
                <img src="~/Media/Inganathi.jpg" alt="Inganathi's picture" style="width: 50%; margin-bottom: 50px; margin-top: 50px;">

            </div>

        </div>


    </div>
</div>
